{% extends "base.html" %} {% block title %}: Responses{% endblock %} {% block
content %}
<section id="responses-content" style="margin-top: 1em;">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Submission Time</th>
            <th scope="col">Holiday</th>
            <th scope="col">Time Range</th>
            <th scope="col">Start Location (Lat, Long)</th>
            <th scope="col">Destination (Lat, Long)</th>
            <th scope="col">Helpful?</th>
          </tr>
        </thead>
        <tbody>
            {% for response in responses %}
                <tr>
                    <th scope="row">{{ response[0] }}</th>
                    <td>{{ response[1] }}</td>
                    <td>{{ response[2] }}</td>
                    <td>{{ response[3] }}</td>
                    <td>{{ response[4][1:-1].replace("'", "") }}</td>
                    <td>{{ response[5][1:-1].replace("'", "") }}</td>
                    <td>{{ "True" if response[6] else "False" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
    