:root {
    --main-color: #0351AA;
    --secondary-color: #12CDF8;
    --accent-color: #000000;
    --special-button-color: #D9D9D9;
}

@font-face {
    font-family: "Kode Mono";
    src: url(Kode_Mono/KodeMono-VariableFont_wght.ttf);
}

body {
    margin: 0;
}

nav {
    font-family: "Kode Mono", sans-serif;
    padding: 0 10px;
    line-height: 2em;
}

nav span {
    font-size: 1.5em;
}

nav h1 {
    font-weight: 100;
    font-size: 2em;
}

body {
    background-color: var(--main-color) !important;
}

#intro {
    margin-top: 1em;
    padding: 1em;
}

#hello {
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}

#intro a {
    color: orange;
}

.black-border {
    border-radius: 5px;
    border: 2px solid black;
}

.lb-bg {
    background-color: var(--secondary-color) !important;
}