{% extends "base.html" %} {% block title %}{% endblock %} {% block content %}
<section id="intro" class="black-border lb-bg">
  <h2 id="hello">Hello</h2>
  <p>
    This is my Leaving Certificate Computer Science project for 2025. The brief
    can be found
    <a
      href="{{ url_for('static',
        filename='Computer Science Coursework Project Brief 2025.pdf') }}"
      target="_blank"
      >here</a
    >. My project has to do with traffic congestion data on all of the 10 public
    holidays from 2020-2024, except 2024 has some missing data.
  </p>
  <p>
    The <em>Pathfinding</em> page contains a map with a density heatmap of
    congestion, the mean of the past years' congestion at each site, and a form,
    where you can input a start and end coordinates, and it'll find the best
    path according to the heatmap. If you wish you can comment on if it was
    useful or not, and your response will be stored and can be accessed via the
    <em>Responses</em> page.
    <br>
    Instructions to use:
    <ol>
      <li>Select the holiday, start time and end time.</li>
      <li>Generate the heatmap.</li>
      <li>Input latitudes and longitudes for the start point and destination. This can be done by typing into the text boxes, or by selecting the <em>Find On Map</em> (or similar) buttons and clicking on the map.</em></li>
      <li>Create the path by clicking on 
        <em>Pathfind</em>.
      </li>
      <li>If you wish, you can give feedback by saying if this tool was helpful. All previous fields must be filled in and valid</li>
    </ol>
  </p>

  <p>
    The <em>Statistics</em> page contains bar charts of the total traffic
    congestion volume for the previous years. There are also density heatmaps
    for each holiday and the years of which I have data for.
  </p>

  <p>
    The <em>Responses</em> page contains the responses submitted from the
    <em>Pathfinding</em> page.
  </p>
  <h3>Basic Analysis</h3>
  <p>From my data I found out the following:</p>
  <ul>
    <li>
      The most congested holiday is <em>St Brigid's Day</em>, with a average volume of <strong>585 (585.1570155231623)</strong>.
    </li>
    <li>
      The least congested holiday is <em>Christmas Day</em>, with an average
      volume of <strong>323 (323.0772621858889)</strong>.
    </li>
    <li>
      The most congested year was <em>2022</em>, with an average volume of <strong>495 (495.2509310406889)</strong>.
    </li>
    <li>
      The least congested year was <em>2020</em>, with an average volume of <strong>401 (400.70593595128565)</strong>.
    </li>
    <li>
      The most congested time range was <em>14:00 - 15:00</em>, with an average volume of <strong>773 (773.4855059448975)</strong>.
    </li>
    <li>
      The least congested time range was <em>04:00 - 05:00</em>, with an average volume of <strong>129 (128.94033352584464)</strong>.
    </li>
    <li>
      The most congested location was <em>HOWTH RD @ BROOKWOOD AV</em>, with an average volume of <strong>3152 (3151.5457842248416)</strong>.
    </li>
    <li>
      The least congested location was <em>AMIENS ST @ BUCKINGHAM ST</em>, with an average volume of <strong>0 (0.0)</strong>.
    </li>
    <li>
      The most volume passing through any site at any hour range was <strong>454 (454.034642410126)</strong> at <em>ABBEY ST @ MARLBOROUGH ST (LUAS)</em> on <em>1/1/2020 at 0:00 to 1:00</em>.
    </li>
  </ul>
  <p>Note that some of the data may be inaccurate due to the limitations of the data.</p>
</section>
{% endblock %}
